doctype html
html
	head
		title= title
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

		//- link(rel='stylesheet', href='/stylesheets/screen.css')
		link(rel='stylesheet', href='/stylesheets/print.css')

		block css
	
	body(data-ng-app="App")
		block content

	script(src="https://code.jquery.com/jquery.js")
	script(src='http://localhost:3001/socket.io/socket.io.js')
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js")
	script(src='http://code.angularjs.org/1.2.11/angular-resource.min.js')
	script(src='/javascripts/app.js')
	script(src='/javascripts/socket.js')
	script(src='/javascripts/directives.js')
	script(src='/javascripts/models.js')
	block scripts