extends layout

block scripts
	script(src='/javascripts/controllers/cuentas_controller.js')
	script(src='/javascripts/controllers/registros_controller.js')

block content
	div.row
		div.col-sm-3(data-ng-controller="CuentasController")
			div.row
				div.col-sm-12
					| Cuentas
					<!-- Button trigger modal -->
					a(class="btn pull-right" data-toggle="modal" data-target="#crearCuenta" title="Crear cuenta")
						i(class="fa fa-plus-square-o")

			div.row(data-ng-repeat="cuenta in cuentas")
				div.col-sm-12(data-ng-bind="cuenta.name")

			<!-- Modal Crear Cuentas -->
			div(id="crearCuenta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true").modal.fade
				div.modal-dialog
					div.modal-content
						div.modal-header
							button(data-dismiss="modal" aria-hidden="true" type="button").close
								| &times;
						
							h4.modal-title#myModalLabel
								| Crear cuenta
							
						div.modal-body
							form(class="form-horizontal")
								div.form-group
									label(class="col-sm-3 control-label")
										| Nombre
									div.col-sm-7
										input(class="form-control" data-ng-model="nuevaCuenta.name")
								div.form-group
									label(class="col-sm-3 control-label")
										| Descripcion
									div.col-sm-7
										input(class="form-control" data-ng-model="nuevaCuenta.description")
								div.form-group
									label(class="col-sm-3 control-label")
										| Cuenta Padre
									div.col-sm-7
										select(class="form-control" data-ng-model="nuevaCuenta.parent" data-ng-options="c.name for c in cuentas")
						
						div.modal-footer
							button(type="button" class="btn btn-default" data-dismiss="modal")
								| Cancelar
							button(type="button" class="btn btn-primary" data-ng-click="add()")
								| Crear cuenta


		div.col-sm-9
			div(data-ng-controller="RegistrosController")
				div.row
					div.col-sm-12
						table.table
							tbody
								tr
									td.col-sm-1
										| Beneficiario
									
									td.col-sm-7
										input(data-ng-model="registro.beneficiary" type="text").col-sm-12
									
									td.col-sm-1
										| Número
									
									td.col-sm-3
										input(data-ng-model="registro.number" type="text").col-sm-12
									
								tr
									td.col-sm-1
										| &nbsp;
									
									td.col-sm-7
										| &nbsp;
									
									td.col-sm-1
										| Fecha
									
									td.col-sm-3
										input(data-ng-model="registro.date" type="text").col-sm-12
								
								tr
									td.col-sm-1
										| Notas
									
									td.col-sm-7
										input(data-ng-model="registro.notes" type="text").col-sm-12
									
									td.col-sm-1
										| Cantidad
									
									td.col-sm-3
										input(data-ng-model="registro.amount" type="text").col-sm-12
								
								tr
									td.col-sm-1
										| Reconciliado
									
									td.col-sm-7
										input(data-ng-model="registro.reconciled" 
											data-ng-init="registro.reconciled = false" type="checkbox").col-sm-12
									
									td.col-sm-1
										| &nbsp;
									
									td.col-sm-3
										button.btn.btn-success(data-ng-click="add()")
											| Aceptar
										button.btn.btn-default
											| Cancelar

	

	<!-- Modal -->
	//- div(id="crearCuenta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true").modal.fade
	//- 	div.modal-dialog
	//- 		div.modal-content
	//- 			div.modal-header
	//- 				button(data-dismiss="modal" aria-hidden="true" type="button").close
	//- 					| &times;
				
	//- 				h4.modal-title#myModalLabel
	//- 					| Crear cuenta
					
	//- 			div.modal-body
	//- 				select(data-ng-options="cuenta.name for cuenta in cuentas")
				
	//- 			div.modal-footer
	//- 				button(type="button" class="btn btn-default" data-dismiss="modal")
	//- 					| Cancelar
	//- 				button(type="button" class="btn btn-primary")
	//- 					| Crear cuenta
