extends layout

block scripts
	script(src='/javascripts/controllers/cuentas_controller.js')
	script(src='/javascripts/controllers/registros_controller.js')

block content
	div.row(data-ng-controller="CuentasController")
		div.col-sm-3
			div.row
				div.col-sm-12
					| Cuentas
					<!-- Button trigger modal -->
					a(class="btn pull-right" data-toggle="modal" data-target="#crearCuenta" title="Crear cuenta")
						i(class="fa fa-plus-square-o")

			div.row(data-ng-repeat="cuenta in cuentas")
				div.col-sm-12(data-ng-bind="cuenta.name")

			<!-- Modal Crear Cuentas -->
			div(id="crearCuenta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true").modal.fade
				div.modal-dialog
					div.modal-content
						div.modal-header
							button(data-dismiss="modal" aria-hidden="true" type="button").close
								| &times;
						
							h4.modal-title#myModalLabel
								| Crear cuenta
							
						div.modal-body
							form(class="form-horizontal")
								div.form-group
									label(class="col-sm-3 control-label")
										| Nombre
									div.col-sm-7
										input(class="form-control" data-ng-model="nuevaCuenta.name")
								div.form-group
									label(class="col-sm-3 control-label")
										| Descripcion
									div.col-sm-7
										input(class="form-control" data-ng-model="nuevaCuenta.description")
								div.form-group
									label(class="col-sm-3 control-label")
										| Cuenta Padre
									div.col-sm-7
										select(class="form-control" data-ng-model="nuevaCuenta.parent" data-ng-options="c.name for c in cuentas")
						
						div.modal-footer
							button(type="button" class="btn btn-default" data-dismiss="modal")
								| Cancelar
							button(type="button" class="btn btn-primary" data-ng-click="add()")
								| Crear cuenta

		//- East
		.col-sm-9
			div(data-ng-controller="RegistrosController")
				.row
					.col-sm-12
						.row
							.col-sm-1
								| Beneficiario
							
							.col-sm-7
								input(data-ng-model="registro.beneficiary" type="text").col-sm-12
							
							.col-sm-1
								| Número
							
							.col-sm-3
								input(data-ng-model="registro.number" type="text").col-sm-12
							
						.row
							.col-sm-1
								| Cuenta Ingreso
							
							.col-sm-3
								select(data-ng-model="registro.credito_id" data-ng-options="cu._id as cu.name for cu in cuentas")

							.col-sm-1
								| Cuenta Egreso
							
							.col-sm-3
								select(data-ng-model="registro.debito_id" data-ng-options="cu._id as cu.name for cu in cuentas")
							
							.col-sm-1
								| Fecha
							
							.col-sm-3
								input(data-ng-model="registro.date" type="text").col-sm-12
						
						.row
							.col-sm-1
								| Notas
							
							.col-sm-7
								input(data-ng-model="registro.notes" type="text").col-sm-12
							
							.col-sm-1
								| Cantidad
							
							.col-sm-3
								input(data-ng-model="registro.amount" type="text").col-sm-12
						
						.row
							.col-sm-1
								| Reconciliado
							
							.col-sm-7
								input(data-ng-model="registro.reconciled" 
									data-ng-init="registro.reconciled = false" type="checkbox").col-sm-12
							
							.col-sm-1
								| &nbsp;
							
							.col-sm-3
								button.btn.btn-success(data-ng-click="add()")
									| Aceptar
								button.btn.btn-default
									| Cancelar
				.row
					.col-sm-12
						table.table
							thead
								tr
									th Número
									th Beneficiario
									th Cantidad
									th CuentaIN
									th CuentaEG

							tbody
								tr(data-ng-repeat="registro in registros")
									td.col-sm-3(data-ng-bind="registro.number")
									td.col-sm-3(data-ng-bind="registro.beneficiary")
									td.col-sm-3(data-ng-bind="registro.amount")
									td.col-sm-3(data-ng-bind="registro.credito_id")
									td.col-sm-3(data-ng-bind="registro.debito_id")



	

	<!-- Modal -->
	//- div(id="crearCuenta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true").modal.fade
	//- 	div.modal-dialog
	//- 		div.modal-content
	//- 			div.modal-header
	//- 				button(data-dismiss="modal" aria-hidden="true" type="button").close
	//- 					| &times;
				
	//- 				h4.modal-title#myModalLabel
	//- 					| Crear cuenta
					
	//- 			div.modal-body
	//- 				select(data-ng-options="cuenta.name for cuenta in cuentas")
				
	//- 			div.modal-footer
	//- 				button(type="button" class="btn btn-default" data-dismiss="modal")
	//- 					| Cancelar
	//- 				button(type="button" class="btn btn-primary")
	//- 					| Crear cuenta
